* {
    box-sizing: border-box;
}

body {
    background-image: url("../../assets/images/background.jpg");
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-width: 280px;
}

main {
    max-width: 1200px;
    margin: auto;
}

p,
div {
    color: white;
    font-size: 17px;
}

h1 {
    color: rgb(189, 124, 134);
    font-weight: bold;
    font-size: 30px;
}

h2 {
    color: rgb(189, 124, 134);
    font-weight: bold;
    text-align: center;
    font-size: 25px;
}


/*Begin styling header and navigation */

.header {
    background-color: rgb(189, 124, 134);
    border-radius: 15px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
    margin-bottom: 1%;
}

.header img {
    padding: 10px;
    max-width: 100%;
    height: auto;
}

.header nav {
    margin: 7px 0;
}

.header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.header nav ul a {
    padding: 10px 15px;
    color: black;
    font-weight: bold;
    font-size: 1.5vw;
    text-decoration: none;
}


/* Styling Hero Section */

.hero {
    display: flex;
    border: solid 1px rgb(189, 124, 134);
    border-radius: 15px;
}

#About-me {
    text-align: left;
    margin: 3.5%;
}

.tracy-photo {
    max-width: 100%;
    height: auto;
    margin-left: 10%;
    padding: 20px 20px;
}


/*Styling content*/

.content {
    border: solid 1px rgb(189, 124, 134);
    border-radius: 15px;
    margin-top: 2%;
    text-align: center;
}

.projects {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.project {
    flex: 0 1 50%;
    max-width: 400px;
    max-height: 400px;
}

.project img {
    width: 100%;
    height: 100%;
}

.zoom {
    transition: transform .2s;
    padding: 10px;
}

.zoom:hover {
    transform: scale(1.05);
}


/* footer*/

footer {
    display: flex;
    justify-content: space-between;
}

.information {
    padding: 20px;
}

.email {
    padding-bottom: 8px;
}

.social-media {
    display: flex;
    flex-wrap: wrap;
}

.social-media img {
    padding: 2px;
    max-width: 100%;
    height: auto;
}


/* Media Query for smaller destop sreens and smaller*/

@media screen and (max-width: 980px) {
    .header nav ul a {
        font-size: 25px;
    }
    .tracy-photo {
        max-width: 100%;
        height: auto;
        margin-left: 10%;
        padding-top: 25px;
    }
}


/* Media Query for tables and smaller */


/* Media Query for Mobile Phones and Smaller*/

@media screen and (max-width: 575px) {
    .header {
        position: relative;
    }
    .hero {
        display: inline-block;
    }
    .logo {
        width: 100%;
        text-align: center;
        padding-bottom: 0;
    }
    #About-me,
    .tracy-photo {
        text-align: center;
    }
    .information {
        font-size: 16px;
    }
    .project {
        flex: 0 1 100%;
    }
}