* {
    box-sizing: border-box;
}

body {
    background-color: black;
}

p {
    color: white;
    font-size: 16px;
}

h1 {
    color: rgb(189, 124, 134);
    font-weight: bold;
    font-size: 30px;
}

h2 {
    color: rgb(189, 124, 134);
    font-weight: bold;
    text-align: center;
}


/*Begin styling header and navigation */

.header {
    padding: 20px 35px 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
}

.header img {
    padding: 20px;
    width: 8%;
}

.header nav {
    margin: 7px 0;
}

.header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.header nav ul a {
    padding: 10px 15px;
    color: rgb(189, 124, 134);
    font-weight: bold;
    font-size: 1.55vw;
}


/* Styling Hero Section */

.hero {
    display: flex;
    border: solid 1px rgb(189, 124, 134);
    border-radius: 15px;
}

#About-me {
    text-align: left;
    margin: 3.5%;
}

.tracy-photo {
    max-width: 100%;
    height: auto;
    margin-left: 10%;
    padding: 20px 20px;
}


/*Styling content*/

.content {
    border: solid 1px rgb(189, 124, 134);
    border-radius: 15px;
    margin-top: 2%;
}

.zoom {
    transition: transform .2s;
}

.zoom:hover {
    transform: scale(1.2);
}


/* footer*/

footer {
    display: flex;
    justify-content: space-between;
}

.social-media {
    display: flex;
    flex-wrap: wrap;
}